.App {
  text-align: center;
}

.login-form {
  /* max-width: 300px; */
  /* color: #FFF; */
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.avatar-uploader > .ant-upload {
  width: 248px;
  height: 248px;
}